.base {
    border-radius: 8px;
    padding: 0.5em;
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width: 500px) {
  .base {
    font-size: 13px;
  }
}

.action {
  min-width: 15vw;
  padding: 0.5em;  
  font-size: max(1.5vw, 16px);
  font-weight: 500;
}

.primary {
  background-color: var(--primary);
  color: white;
}

.outline {
  color: var(--primary);
  border: 2px solid var(--primary);
}

.accept {
  background-color: green;
  color: white;
}

.warn {
  background-color: orange;
  color: white;
}